@font-face {
    font-family:'opensans-bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family:'opensans' ;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'poppins-bold';
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family:'poppins' ;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'raleway';
    src: url(../fonts/Raleway-Regular.ttf);
}